<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Chess game !'" />

<table>
    <tbody><tr style="text-align: center">
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♖</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♘</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♗</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♔</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♕</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♗</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♘</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♖</font> </td>
    </tr>

    <tr style="text-align: center">
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♙</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♙</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♙</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♙</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♙</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♙</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♙</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♙</font> </td>
    </tr>

    <tr style="text-align: center">
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
    </tr>

    <tr style="text-align: center">
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
    </tr>

    <tr style="text-align: center">
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
    </tr>

    <tr style="text-align: center">
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> </td>
        <td height="50" width="50" bgcolor="#A0522D"> </td>
    </tr>

    <tr style="text-align: center">
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♟</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♟</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♟</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♟</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♟</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♟</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♟</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♟</font> </td>
    </tr>

    <tr style="text-align: center">
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♜</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♞</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♝</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♛</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♚</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♝</font> </td>
        <td height="50" width="50" bgcolor="#FFE4B5"> <font size="6">♞</font> </td>
        <td height="50" width="50" bgcolor="#A0522D"> <font size="6">♜</font> </td>
    </tr>


    </tbody></table>

</body>
</html>